
Day14/.idea/.name

Day14/.idea/compiler.xml

Day14/.idea/copyright/profiles_settings.xml

Day14/.idea/Day14.iml

Day14/.idea/encodings.xml

Day14/.idea/misc.xml

Day14/.idea/modules.xml

Day14/.idea/workspace.xml

Day14/dodgyChecker.class

Day14/Ex1a.class

Day14/Ex1b.class

Day14/Ex1a$dodgyChecker.class

Day14/Ex1bTest.class

Day7/.idea/.name

Day7/.idea/compiler.xml

Day7/.idea/copyright/profiles_settings.xml

Day7/.idea/Day7.iml

Day7/.idea/encodings.xml

Day7/.idea/misc.xml

Day7/.idea/modules.xml

Day7/.idea/workspace.xml

Day7/Spy.class

Day14/Doubler.java

.idea/.name

.idea/compiler.xml

*.xml

.idea/PiJ-exercises.iml
